@use "reset.scss";
@use "fonts.scss";
@use "swiper.scss";
@use "nice-select.scss";
@use "ui-kit.scss";
@use "ui-kit-project.scss";

:root {
	--efdeb3-cream-label: #efdeb3;
	--4e7484-blue-groove: #4e7484;
	--202020-record-needle: #202020;
	--biliy: #fff;
    --dark: #111827;
    --grey: #6b7280;
    --form-grey: #909090;
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Montserrat", sans-serif;
}

body {
	position: relative;
	padding: 0; 
	font-size: 16px;
	font-family: var(--font-family);
	font-weight: 400;
    line-height: 120%;
	color: var(--202020-record-needle);
	background: var(--biliy);

	* {
		box-sizing: border-box;

		&::before {
			box-sizing: border-box;
		}

		&::after {
			box-sizing: border-box;
		}
	}

	&.no-scroll {
		overflow-y: hidden;
	}

	a {
		color: inherit;
	}

	button {
		font-family: var(--font-family);
	}

	input {
		color: var(--biliy);
		font-family: var(--font-family);

		&::placeholder {
			color: var(--biliy);
			font-family: var(--font-family);
		}
	}

	textarea {
		color: var(--biliy);
		font-family: var(--font-family);

		&::placeholder {
			color: var(--biliy);
			font-family: var(--font-family);
		}
	}

    strong {
		font-weight: 600;
	}

	em{
		font-style: italic;
	}
}

.wrapper {
	width: 1920px;
	margin: 0 auto;
	max-width: 100%;
	position: relative;
	min-height: 100vh;
	overflow: hidden;
}

.mob {
	display: none !important;
}

.close-bg {
	display: none;
	width: 100dvw;
	height: 100dvh;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1500;
	background: rgba($color: #000, $alpha: 0.5);
	pointer-events: all;
	cursor: default;
	pointer-events: none;
	transition: all 0.4s ease;

	&.active {
		display: block;
		pointer-events: all;
		animation: opacityAnimate 0.4s ease;
	}
}

@keyframes opacityAnimate {
  	0% {
  	  opacity: 0;
  	}

  	100% {
  	  opacity: 1;
  	}
}

.header-wrap{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	transition: 0.4s;

	@media(max-width: 1100px) {
		.container{
			padding: 0 10px;
		}
	}

	&.fixed{
		background: var(--202020-record-needle);

		.header{
			padding: 10px 0;
		}

		@media(max-width: 1100px) {
			background: none;
		}

		.mobile-trigger{
			background: var(--202020-record-needle);
		}
	}
}

.header{
	padding: 30px 0 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	transition: 0.4s;

	@media(max-width: 1100px) {
		padding: 10px 0;
	}
}

.header-logo{
	width: auto;
	height: 55px;

	@media(max-width: 500px) {
		height: 40px;
	}

	img,
	svg{
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.nav{
	display: flex;
	gap: 30px;

	&__item{
		font-weight: 500;
		font-size: 16px;
		color: var(--biliy);
		padding: 10px 0 8px;
		border-bottom: 2px solid rgba($color: #fff, $alpha: 0);
		transition: all 0.3s ease;

		&:hover,
		&:focus{
			border-bottom: 2px solid var(--biliy);
		}
	}

	&--header{
		@media(max-width: 1100px) {
			display: none;
		}
	}
}

.header-right{
	display: flex;
	align-items: end;
	gap: 30px;

	@media(max-width: 1100px) {
		display: none;
	}
}

.lang{
	display: flex;
	align-items: center;
	gap: 20px;

	&__item{
		display: flex;
		align-items: center;
		gap: 5px;
		padding: 10px 0 8px;
		border-bottom: 2px solid rgba($color: #fff, $alpha: 0);
		transition: all 0.3s ease;
		font-weight: 500;
		font-size: 16px;
		color: var(--biliy);

		@media(max-width: 1100px) {
			color: var(--202020-record-needle);
		}

		&:hover{
			border-bottom: 2px solid var(--biliy);

			@media(max-width: 1100px) {
				border-bottom: 2px solid var(--202020-record-needle);
			}
		}

		&.active{

			@media(max-width: 1100px) {
				border-bottom: 2px solid var(--202020-record-needle);
			}
		}
	}
}

.mobile-trigger{
	display: none;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	transition: 0.4s;

	@media(max-width: 1100px) {
		display: flex;
	}

	@media(max-width: 500px) {
		width: 40px;
		height: 40px;
	}

	svg{
		max-width: 100%;
		max-height: 100%;
	}
}

.mobile-menu{
	display: flex !important;
	flex-direction: column;
	justify-content: space-between;
	padding: 20px;

	@media(max-width: 500px) {
		padding: 15px;
	}

	&__button{
		font-weight: 400;
		font-size: 24px;
		padding: 10px 0;
		border: 2px solid var(--202020-record-needle);

		@media(max-width: 500px) {
			font-size: 18px;
			padding: 14px 0;
		}

		&::before{
			display: none;
		}
	}
}

.mobile-menu-top{
	display: flex;
	flex-direction: column;
	gap: 50px;

	@media(max-width: 500px) {
		gap: 30px;
	}
}

.mobile-menu-header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.mobile-menu-header-right{
	display: flex;
	align-items: center;
	gap: 30px;
}

.mobile-menu-nav{
	&__item{
		padding: 20px;
		border-top: 1px;
		border-color: rgba(32, 32, 32, 0.2);
		border-style: solid;
		font-weight: 500;
		font-size: 24px;
		text-transform: uppercase;

		@media(max-width: 500px) {
			padding: 20px 23.5px;
			font-size: 18px;
		}

		&:last-child{
			border-bottom: 1px;
			border-color: rgba(32, 32, 32, 0.2);
			border-style: solid;
		}
	}
}

.contact{
	display: flex;
	flex-direction: column;
	gap: 20px;

	@media(max-width: 500px) {
		gap: 10px;
	}

	&__item{
		font-weight: 600;
		font-size: 18px;
		display: flex;
		align-items: center;
		gap: 10px;

		svg{
			width: 20px;
			height: 20px;
			flex-shrink: 0;
		}
	}
}

.contact-number{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	height: 40px;

	svg{
		width: 20px;
		height: 20px;
	}

	&__item{
		font-weight: 700;
		font-size: 24px;
		margin-right: 20px;

		@media(max-width: 500px) {
			font-size: 20px;
			margin-right: 10px;
		}

		&:last-child{
			margin-right: 0;
		}
	}
}

.hero-section{
	padding: 200px 0 100px;
	position: relative;

	@media(max-width: 991px) {
		padding: 150px 0 50px;
	}

	@media(max-width: 500px) {
		padding: 110px 0 30px;
	}
}

.hero-video{
	position: absolute;
	inset: 0;
	z-index: -1;

	&::before,
	&::after{
		content: "";
		position: absolute;
		inset: 0;
		z-index: 1;
	}

	&::before{
		background: rgba(0, 0, 0, 0.7);
	}

	&::after{
		background: rgba(78, 116, 132, 0.2);
	}

	video{
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: relative;
		z-index: -1;
	}
}

.hero{
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@media(max-width: 991px) {
		align-items: center;
	}
}

.hero-list{
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	gap: 50px;

	@media(max-width: 991px) {
		align-items: flex-start;
		gap: 20px;
	}

	@media(max-width: 500px) {
		gap: 10px;
		margin-bottom: 30px;
	}

	&__item{
		display: inline-flex;
		align-items: center;
		gap: 20px;

		@media(max-width: 991px) {
			flex-direction: column;
			text-align: center;
		}

		@media(max-width: 500px) {
			gap: 10px;

			strong{
				font-weight: 400;
			}
		}

		svg{
			width: 50px;
			height: 50px;
		}
	}
}

.about-us-content{
	display: flex;

	@media(max-width: 991px) {
		flex-direction: column;
	}
}

.about-us-content-section{
	position: relative;
	
	&::after{
		content: "";
		position: absolute;
		inset: 0;
		z-index: -2;
		background: var(--202020-record-needle);

		@media(max-width: 991px) {
			display: none;
		}
	}

	.container{
		@media(max-width: 991px) {
			padding: 0;
		}
	}
}

.about-us-item{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 50px;
	padding: 81px 20px 82px 50px;
	width: 100%;

	@media(max-width: 991px) {
		position: relative;
		padding: 50px 20px;
		border-bottom: 1px solid var(--biliy);

		&:last-child{
			border: none;
		}
	}

	@media(max-width: 500px) {
		padding: 50px 15px;
		gap: 30px;
	}

	&.active{
		.about-us-item{
			&__background{
				opacity: 1;
			}

			&__icon,
			&__text,
			&__button{
				opacity: 1;
			}

			&__title{
				color: var(--efdeb3-cream-label);
				opacity: 1;
				transform: translatey(0);
			}
		}
	}
	
	&--first{
		border-right: 1px solid rgba($color: #fff, $alpha: 0);
		transition: 0.4s;
		padding-left: 0;
		width: calc(100% - 50px);

		@media(max-width: 991px) {
			width: 100%;
			border-right: none !important;
			padding: 50px 20px;
		}

		@media(max-width: 500px) {
			padding: 50px 15px;
		}

		&.active{
			border-right: 1px solid rgba($color: #fff, $alpha: 1);
		}
	}

	&--second{
		border-left: 1px solid rgba($color: #fff, $alpha: 0);
		border-right: 1px solid rgba($color: #fff, $alpha: 0);
		transition: 0.4s;

		@media(max-width: 991px) {
			border-left: none !important;
			border-right: none !important;
		}

		&.active{
			border-left: 1px solid rgba($color: #fff, $alpha: 1);
			border-right: 1px solid rgba($color: #fff, $alpha: 1);
		}
	}

	&--third{
		border-left: 1px solid rgba($color: #fff, $alpha: 0);
		transition: 0.4s;

		@media(max-width: 991px) {
			border-left: none !important;
		}

		&.active{
			border-left: 1px solid rgba($color: #fff, $alpha: 1);
		}
	}

	&__background{
		position: absolute;
		top: 0;
		left: 0;
		width: 100dvw;
		max-width: 1920px;
		height: 100%;
		z-index: -1;
		opacity: 0;
		transition: 0.5s;

		@media(max-width: 991px) {
			width: auto;
			height: auto;
			top: auto;
			left: auto;
			inset: 0;
			opacity: 1;
		}

		&::before,
		&::after{
			content: "";
			position: absolute;
			inset: 0;
			z-index: 1;
		}

		&::before{
			background: rgba(0, 0, 0, 0.7);
		}

		&::after{
			background: rgba(78, 116, 132, 0.2);
		}

		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__icon{
		width: 10px;
		height: 10px;
		border-radius: 100%;
		background: var(--biliy);
		opacity: 0;
		transition: 0.4s;

		@media(max-width: 991px) {
			opacity: 1;
		}
	}

	&__title{
		opacity: 0.5;
		transform: translateY(calc(100% + 12px));
		transition: 0.4s;

		@media(max-width: 991px) {
			transform: none;
			opacity: 1;
			color: var(--efdeb3-cream-label);
		}
	}

	&__text,
	&__button{
		transition: 0.4s;
		opacity: 0;

		@media(max-width: 991px) {
			opacity: 1;
		}
	}

	&__text{
		@media(max-width: 500px) {
			font-size: 16px;
		}
	}
}

.advantages{
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	gap: 50px 55px;
}

.advantages-item{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	padding: 30px;
	position: relative;

	&:hover{
		.advantages-item{
			&__dot{
				opacity: 1;
			}

			&__title{
				color: var(--4e7484-blue-groove);
			}
		}

		.advantages-item-icon{
			&__animate{
				&--rotate{
					transform: translate(-50%, -50%) rotate(-180deg);
				}

				&--slide{
					top: 4px;
					right: 36px;
				}

				&--change-start{
					opacity: 0;
				}

				&--change-finish{
					opacity: 1;
				}

				&--size{
					width: 30px;
					height: 38px;
				}
			}
		}
	}

	&__dot{
		width: 10px;
		height: 10px;
		position: absolute;
		top: 30px;
		right: 30px;
		border-radius: 100%;
		opacity: 0;
		transition: 0.5s;
		background: var(--202020-record-needle);
	}

	&__title{
		transition: 0.5s;
	}
}

.advantages-item-icon{
	width: 100px;
	height: 100px;
	position: relative;
	
	&__main{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&--bottom{
			transform: translate(-50%, 0);
			top: auto;
			bottom: 0;
		}
	}

	&__animate{
		position: absolute;
		transition: all 0.5s ease-out;

		&--rotate{
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&--slide{
			top: 19px;
			right: 5px;
		}

		&--change{
			right: 3px;
			bottom: 3px;
		}

		&--change-start{
			opacity: 1;
		}

		&--change-finish{
			opacity: 0;
		}

		&--size{
			width: 44px;
			height: 57px;
			top: 3px;
			left: 3px;
		}
	}
}